:root{
  --bg: rgb(0, 0, 0); 
}
 
body {
  background-color: var(--bg);
  height: 100%;
  margin: 0;
  padding: 0;
} 
.center {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
}

.container {
  position: relative;
  height: 150px;
  width: 150px; 
  left: 10px;
  top: 10px;
}

.container:hover .circ_outer_left {
  animation-name: outer_eye;
  animation-duration: 0.4s;
  /* animation-fill-mode: forwards; */
}
.container:hover .circ_mid_left {
  animation-name: outer_eye;
  animation-duration: 0.4s;
  /* animation-fill-mode: forwards; */
}

.circ_outer_left {
  height: 65px;
  width: 65px;
  background-image: radial-gradient(circle, rgba(0,0,0,0)0%, rgba(0,0,0,0)50%, rgb(57, 202, 0, 1)51%, rgba(57, 202, 0, 1)85%, rgb(0, 0, 0, 1) 86%, rgb(0, 0, 0, 1) 100%);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
  box-shadow: 0px 0px 20px 5px rgba(72, 255, 0, 0.5);
}

.circ_mid_left {
  height: 65px;
  width: 65px;
  background-image: radial-gradient(circle, rgba(0,0,0,0)0%, rgba(0,0,0,0)50%, rgb(57, 202, 0, 1)51%, rgba(57, 202, 0, 1)85%, rgb(0, 0, 0, 1) 86%, rgb(0, 0, 0, 1) 100%);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
  box-shadow: 0px 0px 20px 8px rgba(72, 255, 0, 0.5) inset;
}


.circ_outer_right {
  height: 65px;
  width: 65px;
  background-image: radial-gradient(circle, rgba(0,0,0,0)0%, rgba(0,0,0,0)50%, rgb(57, 202, 0, 1)51%, rgba(57, 202, 0, 1)85%, rgb(0, 0, 0, 1) 86%, rgb(0, 0, 0, 1) 100%);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 45px;
  box-shadow: 0px 0px 20px 5px rgba(72, 255, 0, 0.5);
}

.circ_mid_right {
  height: 65px;
  width: 65px;
  background-image: radial-gradient(circle, rgba(0,0,0,0)0%, rgba(0,0,0,0)50%, rgb(57, 202, 0, 1)51%, rgba(57, 202, 0, 1)85%, rgb(0, 0, 0, 1) 86%, rgb(0, 0, 0, 1) 100%);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 45px;
  box-shadow: 0px 0px 20px 8px rgba(72, 255, 0, 0.5) inset;
}

.mouth {
  transform: translate(15px, 70px);
  fill:rgb(57, 202, 0)
}


@keyframes outer_eye {
  from {
      
  }
  50% {
    height:5px; 
    width:70px;
    top: 20px;
    left: -30px;
    /* transform: translate(-40px, 30px); */
  }
}
    
@keyframes inner_eye {
  from{

  }    
  50% {
      height:5px; 
      width:100px;
      top: 20px;
      left: -30px;
      /* transform: translate(-35px, 32px);  */
      box-shadow: 0px 0px 30px 10px rgb(9, 24, 3) inset; 
  }
}  