:root{
    --padding: 6.24%;
    --duration: 15s;
    --quantity: 6;

    --centerY: calc(50vh - 12.5vh);
    --centerX: calc(50vw - 12.5vw);
    --logoheight: 25vh
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('zurf.JPG') center/cover no-repeat fixed;
} 

img {
    padding: 0;
    display: flex;
    margin: 0 auto; 
    height: 100%;
    max-width: 100%; 
}

.container {
    height: 100%;
    width: 100%;
    position: fixed;
    margin-left: 10px;
}

.img2 {
    padding-left: 6.24%; padding-right: 6.24%;
    display: flex;
    position: absolute;
    top: 37.5vh;
    left: 37.5vw;
    margin: 0 auto;
    height: 25vh;
    max-width: 100%;
    animation-name: slide;
    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.netflix {
    animation-delay: calc(calc(var(--duration)*-0)/var(--quantity));
    }

.hbo {
    animation-delay: calc(calc(var(--duration)*-1)/var(--quantity));
}

.disney {
    animation-delay: calc(calc(var(--duration)*-2)/var(--quantity));
    }

.tv2 {
    animation-delay: calc(calc(var(--duration)*-3)/var(--quantity));
    }

.viaplay {
    animation-delay: calc(calc(var(--duration)*-4)/var(--quantity));
}

.prime {
    animation-delay: calc(calc(var(--duration)*-5)/var(--quantity));
}

@keyframes slide {
    from {
        transform: translateX(-60vw); /* Start from the left side, outside the viewport */
      }
      to {
        transform: translateX(60vw); /* Move to the original position (0) */
      }
} 



@media (max-width: 950px) {
    .img2 {
        height: 20vh;
    }
}

@media (max-width: 750px) {
    .img2 {
        height: 15vh;
    }
}

@media (max-width: 550px) {
    .img2 {
        height: 15vh;
    }

    @keyframes slide {
        from {
            transform: translateY(-55vh);
          }
          to {
            transform: translateY(700px); 
          }
    } 

}


    #windowSize {
        position: absolute;
        margin-top: 150px;
      font-size: 18px;
      font-family: Arial, sans-serif;
    }
